.menu {
    width: 100%;

    &__group {
        color: $color-regular;
        padding: 1.2rem 0;
        display: inline-block;
        border-left: 0.2rem solid transparent;
        font-size: 1.6rem;
        line-height: 2.4rem;

        &.active,
        &:hover {
            border-left: 0.2rem solid $color-blue;
            margin-left: -1rem;
            padding-left: 1rem;
        }
    }

    &__list {
        list-style: none;
    }
}
