.accaunt {
    display: flex;
    text-decoration: none;

    &__img {
        border-radius: 100%;

        &-wrapper {
            padding-right: 1.6rem;
        }
    }

    &__desc {
        &-wrapper {
            padding-top: 0.6rem;
        }

        &-name {
            font-size: 1.4rem;
            color: $color-blue;
            font-weight: 600;
            display: block;
        }

        &-specs {
            font-weight: normal;
            font-size: 1.3rem;
            line-height: 2rem;
            color: $color-regular;
        }
    }
}
