.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.8rem 0;

    &__left {
        display: flex;

        &-logo {
            padding-right: 6.6rem;
            display: flex;
            align-items: center;
        }
    }
}
