.modal {
    position: fixed;
    background: $color-modal-bg;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 10;

    &__inside {
        display: flex;
    }

    &__wrapper {
        margin-left: 10%;
        margin-top: 5rem;
        display: flex;
        width: 80%;
        background-color: $color-white;
        border-radius: 1.6rem;
        position: relative;
    }

    &__img {
        padding-top: 5.6rem;
        padding-left: 5.6rem;

        &-top {
            width: 33rem;
            height: 33rem;
        }

        &-bot {
            max-width: 33rem;
            text-align: center;

            img {
                width: 5rem;
                height: 5rem;
                border: 0.1rem solid transparent;
                margin-right: 0.8rem;
                margin-bottom: 0.8rem;
            }

            .active {
                border: 0.1rem solid $color-blue;
                border-radius: 0.8rem;
            }
        }
    }

    &__desc {
        padding: 6rem 6rem 6rem 2.4rem;

        &-title {
            margin-bottom: 0.8rem;
            font-size: 2rem;
            line-height: 3.2rem;
            font-weight: normal;
        }

        &-specs {
            margin-bottom: 1.4rem;
            font-weight: 600;
            font-size: 2rem;
            line-height: 3.2rem;
        }
    }

    .form {
        &__button {
            height: 3.6rem;
            background-color: $color-blue;
            color: $color-white;
            border-radius: 0.8rem;
            border: none;
            line-height: 2.4rem;
            padding: 0 3.8rem;
        }

        &__subtitle {
            margin-bottom: 0.5rem;
            margin-top: 2rem;
        }
    }

    .balans {
        display: flex;
        position: absolute;
        right: 6rem;
        top: 6rem;
        width: 19.6rem;
        height: 6.8rem;
        background: $color-balans;
        border-radius: 1.6rem;
        margin-top: 4.4rem;
        padding-left: 1.6rem;
        padding-top: 0.8rem;

        &__desc {
            margin-right: 2.5rem;
        }

        &__title {
            color: $color-modal-bg;
        }

        &__spec {
            font-size: 1.6rem;
        }

        &__img {
            padding-top: 0.4rem;
        }
    }

    .details_info {
        padding-bottom: 2.4rem;
    }

    .colors__radio {
        display: inline-block;
        margin: 0 1rem 1rem 0;
        user-select: none;
        position: relative;

        input[type=radio] {
            z-index: -1;
            opacity: 0;
            display: block;
            width: 0;
            height: 0;
        }

        span {
            display: inline-block;
            cursor: pointer;
            padding: 0.8rem 1.2rem 0.8rem 3.9rem;
            border: 0.1rem solid rgba(28, 24, 25, 0.1);
            border-radius: 0.9rem;
            line-height: 2.4rem;
            color: $color-blue;

            &::before {
                content: '';
                width: 2.3rem;
                height: 2.4rem;
                position: absolute;
                left: 0.8rem;
                top: 0.8rem;
                border-radius: 0.4rem
            }

            &.colors__beige::before {
                background: $color-modal-beige;
            }

            &.colors__blue::before {
                background: $color-modal-blue;
            }

            &.colors__grey::before {
                background: $color-modal-grey;
            }
        }

        input[type=radio]:checked + span {
            color: $color-regular;
            background: $color-heavenly;
            border-color: $color-heavenly;
        }
    }

    .size__radio {
        display: inline-block;
        margin: 0 1rem 0 0;
        user-select: none;
        position: relative;

        input[type=radio] {
            z-index: -1;
            opacity: 0;
            display: block;
            width: 0;
            height: 0;
        }

        span {
            display: inline-block;
            cursor: pointer;
            padding: 0.7rem 0;
            text-align: center;
            min-width: 4rem;
            border: 0.1rem solid rgba(28, 24, 25, 0.1);
            border-radius: 0.9rem;
            line-height: 2.4rem;
            color: $color-blue;
        }

        input[type=radio]:checked + span {
            color: $color-regular;
            background: $color-heavenly;
            border-color: $color-heavenly;
        }
    }

    .icon-close {
        position: absolute;
        right: 2rem;
        top: 2rem;
    }
}
