$color-regular: #1c1819;
$color-blue: #2a81dd;
$color-white: #fff;
$color-heavenly: #d6ecfb;
$color-light-pink: #eff8eb;
$color-modal-bg: #888b94;
$color-light-blue :#e9f2fb;
$color-icon-new: #64bd38;
$color-scores : #f33;
$color-search: #f2f2f3;
$color-balans: #f0fafd;
$color-modal-beige: #efe8d8;
$color-modal-blue: #00458a;
$color-modal-grey: #d4d4da;
$color-text-app: #2c3e50;

$columns: 12;
$gutter: 3rem;
